.navbar-container{
  display:flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.nav-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.nav-items li{
  list-style: none;
}

.data-item{
  margin: 1%;
  padding: 10px;
  border: 1px solid black;
}